:root {
    /* color variables */
    --black: #1a1a1d;
    --grey: #4E4E50;
    --pink1:#C3073F;
    --pink2:#950740;
    --pink3:#6F2232;
    --pink4:#42001d;
}

hr {
    border-top: 8px dotted var(--pink2);
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    width: 50px;
    margin: auto;
    margin: 0px auto 20px auto;
    border-width: 10px;
}

/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 0.75rem;
}

#navbar ul {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Home */
#home {
    border-radius: 100px 0px;
    height: 73vh;
}


/* Projects */
#projects-section {
    flex-direction: column;
    font-size: 1.5rem;
}

.project p {
    font-size: 0.9rem;
}

.project:hover {
    box-shadow:inset 0px 0px 20px var(--pink2);
    transform:scale(1.1) rotate(2deg);
}
/* Skills */

.skill {
    margin-top: 5px;
}

#skill-section {
    flex-direction: column;
}

.skill img {
    height: 80px;
    width: 80px;
}

/* Contact */

.form-grp input,.form-grp textarea {
    width: 70%;
    display: block;
    margin: auto;
}

#contact-section form{
    margin: auto;
}

#contact-section button {
    display: block;
}


.h-primary, .h-2{
    font-size: 2.0rem;
    color: var(--pink1);
}

.btn {    
    background-color: rgba(10, 10, 10, 1);
    color: var(--pink1);
    border: 2px solid var(--pink2);
    border-radius: 30px;
    font-size: 1rem;
    padding: 8px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    cursor: pointer;
}